@using Abogado.Web.Models
@model CasoUsuarioVM
@{
    ViewData["Title"] = "Login";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Observe los mecanismo  y procesos de los casos</h1>
        <p class="lead">informacion general</p>
    </div>
</div>

@if (Model.Casos.Count != 0)
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">forma</th>
                <th scope="col">mecanismo</th>
                <th scope="col">proceso</th>
                <th scope="col">descripcion</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var caso in Model.Casos)
            {
            <tr>
                <td>@caso.NombreCaso</td>
                <td>@caso.FormaDivorcio</td>
                <td>@caso.mecanismoDisolucion</td>
                <td>@caso.Proceso</td>
                <td>@caso.Descripcion</td>
                <td>@caso.FechaInicio</td>
            </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="card">
        <div class="card-header">
            en este momento no tiene casos
        </div>
        <div class="card-body">
            <h5 class="card-title">Sin Registros aun</h5>
            <p class="card-text">Aun no tiene caosos, debes crear para comenzar</p>
            <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index">retornar</a>
        </div>
    </div>
}
